<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Race Results</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" media="screen" href="/static/bootstrap.min.css">
		{{if not .Next}}
			<meta http-equiv="refresh" content="30">
		{{end}}
		{{if .Start}}
			<script type="text/javascript">
				var seconds = {{.Seconds}};
				function FormatNumberLength(num, length) {
					var r = "" + num;
					while (r.length < length) {
						r = "0" + r;
					}
					return r;
				}
				function updateTime() {
					document.getElementById("time").innerHTML = FormatNumberLength(Math.floor(seconds/60/60),2) + ":" + FormatNumberLength(Math.floor((seconds/60)%60),2) + ":" + FormatNumberLength((seconds%60),2);
					seconds++;
				}
				function start() {
					setTimeout(function() {
						updateTime();
						setInterval(updateTime,1000);
					},{{.NextUpdate}});
				}
				window.onload = start;
			</script>
		{{end}}
	</head>
	<body>
		<div class="row">
			{{if .Admin}}
				<div class="col-md-6">
					{{if .Next}}
						<form class="form-inline" role="form" action="linkBib" method="post">
							<div class="form-group">
								<label class="sr-only" for="next">Overall Place #</label>
								<input class="form-control" type="number" name="next" id="next" required="required" placeholder="Overall Place #" value="{{.Next}}">
							</div>
							<div class="form-group">
								<label class="sr-only" for="bib">Bib #</label>
								<input class="form-control" type="number" name="bib" id="bib" required="required" placeholder="Bib#" autofocus>
							</div>
							<button class="btn btn-default" type="submit">Link</button>
						</form>
					{{end}}
					<form class="form-inline" role="form" action="uploadRacers" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label class="sr-only" for="entriesUpload">Upload Registrants CSV</label>
							<input title="CSV file should have a header row containing at least Fname, Lname, Gender (M/F), and Age." class="form-control" type="file" id="entriesUpload" name="entries" required="required">
						</div>
						<button class="btn btn-default" type="submit">Upload Entries</button>
					</form>
					<form class="form-inline" role="form" action="uploadPrizes" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label class="sr-only" for="prizesUpload">Upload Prize Config</label>
							<input title="Upload Prize Config" class="form-control" type="file" id="prizesUpload" name="prizes" required="required">
						</div>
						<button class="btn btn-default" type="submit">Upload Prizes</button>
					</form>
					<a class="btn btn-default" href="/download">Download Results</a>
					{{if .Unbibbed}}
						<table class="table table-bordered table-condensed">
							<tr>
								<th>Assign Bib</th>
								<th>First</th>
								<th>Last</th>
								<th>Age</th>
								<th>Gender</th>
								<th>T-Shirt</th>
							</tr>
							<tbody>
							{{$autofocus := 1}}
							{{range $id , $unbibbed := .Unbibbed}}
								<tr>
									<td>
										<form class="inline-form" role="form" action="assignBib" method="post">
										<input type="hidden" name="id" value="{{$id}}">
											<div class="form-group">
												<div class="col-md-6">
													<input class="form-control " type="number" name="bib" required="required" placeholder="Bib #">
												</div>
											</div>
											<button class="btn btn-default" type="submit">Set</button>
										</form>
									</td>
									<td>{{$unbibbed.Fname}}</td>
									<td>{{$unbibbed.Lname}}</td>
									<td>{{$unbibbed.Age}}</td>
									<td>{{if $unbibbed.Male}}M{{else}}F{{end}}</td>
									<td>{{$unbibbed.TShirt}}</td>
								</tr>
							{{end}}
							</tbody>
						</table>
					{{end}}
				</div>
				<div class="col-md-6">
			{{else}}
				<div class="col-md-12">
			{{end}}
				<div class="jumbotron">
					{{if .Start}}
						<h1 class="text-center" id="time">{{.Time}}</h1>
						<p class="text-center">Race started at {{.Start}}</p>
					{{else}}
						<h1 class="text-center">00:00:00</h1>
					{{end}}
					{{if not .Next}}
						<p class="text-center">Race status will auto-refresh every 30 seconds</p>
					{{else}}
						<p class="text-center">Race status auto-refresh disabled so as to not disrupt bib input</p>
					{{end}}
				</div>
			</div>
		</div>
		<div class="container">
			{{range .Prizes}}
				{{if .Winners}}
					<div class="col-md-2">
						<h3>{{.Title}}</h3>
						{{range .Winners}}
							<span>{{.Entry.Fname}} {{.Entry.Lname}} <strong>{{.Time.String}}</strong></span>
						{{end}}
					</div>
				{{end}}
			{{end}}
		</div>
		<div class="container">
			<table class="table table-bordered table-condensed table-striped">
				<tr>
					<th>Overall Place</th>
					<th>Time</th>
					<th>Bib #</th>
					<th>First</th>
					<th>Last</th>
				</tr>
				<tbody>
				{{range .Racers}}
					<tr>
						<td>{{.Place}}</td>
						<td>{{.Time}}</td>
						<td>{{with .Entry}}{{.Bib}}{{end}}</td>
						<td>{{with .Entry}}{{.Fname}}{{end}}</td>
						<td>{{with .Entry}}{{.Lname}}{{end}}</td>
					</tr>
				{{end}}
				</tbody>
			</table>
		</div>
	</body>
</html>